.nav {
    grid-area: n;
    background-color: var(--element-background-color);
    border-radius: var(--element-radius);
    box-shadow: var(--element-shadow);
    }


.item {
   margin: 8px;
}

.item a {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: rgb(0, 158, 158);
    transition: all 0.2s ease 0s;
}

.active {
    color: rgb(0, 158, 158);
    margin: 8px;
}