:root {
--element-radius: 5px;
--element-background-color: white;
--element-shadow: 0px 2px 2px 1px rgba(160, 160, 161, 0.2);
--nav-links-color: rgb(75, 75, 75);
--border-color: rgb(179, 179, 179);
}

* {
  color: var(--nav-links-color);
}

body {
  background-color: #edf2f6;
}

.app-wrapper {
  margin: 30px auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "h h"
  "n c"
  "z c";
}

.app-wrapper-content {
  grid-area: c;
  height: calc(100% - 10px);
  background-color: var(--element-background-color);
  border-radius: var(--element-radius);
  box-shadow: var(--element-shadow);
  margin-bottom: 10px;
}