.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: rgb(0, 158, 158);
}

a:hover {
    color: rgb(0, 158, 158);
    transition: all 0.2s ease 0s;
}

.dialog {
    padding: 6px;
}

.dialog a {
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {
    padding: 6px;
}
