.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: rgb(0, 158, 158);
}

.dialog {
    padding: 6px;
}

.messages {
    padding: 10px;
}

.message {
    padding: 6px;
}
