.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: rgb(0, 158, 158);
}

a:hover {
    color: rgb(0, 158, 158);
    transition: all 0.2s ease 0s;
}

.dialog {
    padding: 6px;
    display: flex;
}

.dialog img {
    height: 30px;
    border-radius: 50%;
}

.dialog a {
    text-decoration: none;
    margin-left: 10px;
}

.messagesArea {
    height: 300px;
    width: 600px;
    border-radius: var(--element-radius);
    border: solid 1px var(--nav-links-color);
    overflow: auto;
    margin-bottom: 20px;
}

.messages {
    padding: 10px;
}

.messages textarea {
    resize: none;
    height: 100px;
    width: 600px;
    border-radius: var(--element-radius);
}

/* .messages button {

} */

.message {
    padding: 6px;
}

